
<div class="modal-header">
    <h3 class="modal-title" style="text-align:center;">{{modalAction}}</h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3 control-label">Project Name</div>
                <div class="col-md-9">
                    <input class="form-control" type="text" ng-model="projectName" ng-disabled="isItemDisabled" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 control-label">Task Name</div>
                <div class="col-md-9">
                    <input class="form-control" type="text" ng-model="taskName" ng-disabled="isItemDisabled" />
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-3 control-label">Assign To</div>
                <div class="col-md-9">
                    <input class="form-control" type="text" ng-model="assignee" ng-disabled="isItemDisabled" />
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-3 control-label">Start Date</div>
                <div class="col-md-9">
                    <input class="form-control" id="taskStartDate" type="text" datepicker-popup="yyyy-MM-dd" is-open="isStartTimeCalanderOpened" ng-model="startTime" ng-disabled="true" />
                    <button ng-click="showStartTimeCalander($event)" ng-disabled="isItemDisabled"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-3 control-label">End Date</div>
                <div class="col-md-9">
                    <input class="form-control" id="taskEndDate" type="text" datepicker-popup="yyyy-MM-dd" is-open="isEndTimeCalanderOpened" ng-model="endTime" ng-disabled="true" />
                    <button ng-click="showEndTimeCalander($event)" ng-disabled="isItemDisabled"><i class="glyphicon glyphicon-calendar"></i></button>                    
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-3 control-label">Total Hours</div>
                <div class="col-md-9">
                    <input class="form-control" type="text" ng-model="totalHours" ng-disabled="isItemDisabled">
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-3 control-label">Hours Per Day</div>
                <div class="col-md-9">
                    <input class="form-control" type="text" ng-model="hoursPerDay" ng-disabled="isItemDisabled">
                </div>
            </div>            
        </div>
    </div>    
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">{{okBtnDisplayName}}</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
