
<div class="modal-header">
    <h3 class="modal-title">{{modalAction}}</h3>
</div>
<div class="modal-body">
    Project Name <input type="text" ng-model="projectName" ng-disabled="isItemDisabled" />
    <br/>
    Task Name <input type="text" ng-model="taskName" ng-disabled="isItemDisabled" />
    <br />
    Assign To <input type="text" ng-model="assignee" ng-disabled="isItemDisabled" />
    <br/>    
    Start Date <input type="text" datepicker-popup="yyyy-MM-dd" is-open="isStartTimeCalanderOpened" ng-model="startTime" ng-disabled="isItemDisabled" />
    <button ng-click="showStartTimeCalander($event)" ng-disabled="isItemDisabled"><i class="glyphicon glyphicon-calendar"></i></button>    
    <br/>
    End Date <input type="text" datepicker-popup="yyyy-MM-dd" is-open="isEndTimeCalanderOpened" ng-model="endTime" ng-disabled="isItemDisabled" />
    <button ng-click="showEndTimeCalander($event)" ng-disabled="isItemDisabled"><i class="glyphicon glyphicon-calendar"></i></button>
    <br/>
    Total Hours <input type="text" ng-model="totalHours" ng-disabled="isItemDisabled">
    <br/>
    Hours Per Day <input type="text" ng-model="hoursPerDay" ng-disabled="isItemDisabled">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{okBtnDisplayName}}</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
