<div class="row">
    <div class="row">        
        <div class="col-md-12">
            <div>
                Project Name <input type="text" ng-model="filters.projectName" />    
            </div>
        </div>        
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button ng-click="showItemModal('add')">Add New Task</button>
        </div>
    </div>
    <br />
    <div class="row" style="width:1000px;">                
        <div ng-grid="itemGridOptions" class="col-md-12"></div>
            
    </div>
</div>
