<div class="row">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <h3>{{projectName}}</h3>
        </div>
    </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div ng-grid="projectGridOptions" class="col-md-5"></div>
                <div class="col-md-7"></div>
            </div>
        </div>
</div>
